#cabecalho{
    display: flex;
    justify-content: center;
    color: #e4fcff;
}

#campo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    font-size: 30px;
    font-family: 'impact';
    
}


.quadrado{ 
    width: 4rem;
    height: 4rem;
    border: 5px solid #000;
    border-color: #42d4e7 ;
    border-radius: 7px;
    font-size: 3rem;
    text-align: center;
    color: #e4fcff;
    
     
  
}
.quadradinho{ 
    width: 2rem;
    height: 2rem;
    border: 5px solid #000;
    border-color: #42d4e7 ;
    border-radius: 7px;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
    color: #e4fcff;
     
  
}
body{
    background-color: #21909f;
}

h1{
    justify-content: center;
    align-items: center;
    font-family: 'impact';
    font-size: 50px;
    font-weight: 100;
}
.edit{ 
    height: 75px;
    border-bottom: 10px solid #42d4e7 !important;
}
.right{
    background-color: #51f696 !important;
    border-color: #51f696;
}
.place{
    background-color: #f0611f;
    border-color: #f0611f;
}
.wrong{
    background-color: #302217 ;
    border-color: #302217;
}
.wrongTeclado{
    color: #e4fcff;
    background-color: #302217 ;
    border-color: #302217;
}

#teclado {
    margin-top: 1rem;
    display: flex;
    padding: 2%;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.teclado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

}

.teclado button {
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1rem;
    margin: .5%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
#BACKSPACE {
    width: 15%;
    height: 2.4rem;
}

#BACKSPACE img{
    
    padding: 0px !important;
}
#ENTER {
    width: 70px;
}

h4{
    color: #e4fcff;
    display: flex;
    justify-content: center;
}

#info{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #454c4d ;
    border-radius: 1rem;
    max-width: 300px;
    width: 70%;
    height: 60%;
    font-family:monospace;
    font-size: 1rem;
    text-align: center;
    color: #e4fcff;
    padding: 2em;
}

#resultado{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #454c4d  ;
    border-radius: 1rem;
    max-width: 350px;
    width: 70%;
    height: 10%;
    font-family:monospace;
    font-size: 1.2rem;
    text-align: center;
    color: #e4fcff;
    padding: 2em;
    padding-bottom: 4em;
    
}
#resposta{
    display: none;
}

.infoPosition{
    display: flex;
    max-width: 100%;
    justify-content: center;
}