#cabecalho{
    display: flex;
    justify-content: center;
    color: #e4fcff;
}

#campo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    font-size: 30px;
    font-family: 'impact';
    
}


.quadrado{ 
    width: 4rem;
    height: 4rem;
    border: 5px solid #000;
    border-color: #42d4e7 ;
    border-radius: 7px;
    font-size: 3rem;
    text-align: center;
    color: #e4fcff;
     
  
}
body{
    background-color: #21909f;
}

h1{
    justify-content: center;
    align-items: center;
    font-family: 'impact';
    font-size: 50px;
    font-weight: 100;
}
.edit{ 
    height: 75px;
    border-bottom: 10px solid #42d4e7 !important;
}
.right{
    background-color: #51f696 !important;
    border-color: #51f696;
}
.place{
    background-color: #f0611f;
    border-color: #f0611f;
}
.wrong{
    background-color: #302217 ;
    border-color: #302217;
}
.wrongTeclado{
    color: #e4fcff;
    background-color: #302217 ;
    border-color: #302217;
}

#teclado {
    margin-top: 1rem;
    display: flex;
    padding: 2%;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.teclado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;

}

.teclado button {
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 1rem;
    margin: .5%;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
#BACKSPACE {
    width: 15%;
    height: 2.4rem;
}

#BACKSPACE img{
    
    padding: 0px !important;
}
#ENTER {
    width: 70px;
}

h4{
    color: #e4fcff;
    display: flex;
    justify-content: center;
}

@media (width: 1000px) {
    .teclado button {
        align-items: center;
        justify-content: center;
        padding: 10px;
        font-size: 1rem;
        margin: .5%;
        width: 40%;
        height: 40%;
        cursor: pointer;
        border: none;
        border-radius: 5px;
    }
  }